.App{
  width: 100vw;
  height: 100vh;
}

.calculator {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 350px;
  border: 1px solid black;
  padding: 10px;
  border-radius: 15px;
}

.display {
  border: 2px solid black;
  height: 80px;
  border-radius: 15px;
  width: 100%;
}

.button-wrapper {
  display: flex;
  flex: row;
  margin: 10px auto;
}

.input-wrapper {
  display: grid;
  grid-template-columns: auto auto auto;
}

.last-input{
  grid-column: 1 / span 3;
}

.action-wrapper {
  display: flex;
  flex-direction: column;
}

.operator {
  display: grid;
  grid-template-columns: auto auto;
}

.utility {
  display: flex;
  flex-direction: column;
}